.btn {
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid rgb(77, 255, 1);
}

.toast {
  height: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(255, 1, 200);
}
.card {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(255, 81, 1);
}

button {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}
